---
layout: default
---

<article class="max-w-5xl mx-auto">
    <header class="mb-14">
        <h1 class="text-3xl text-center font-bold leading-normal text-slate-900 mt-0 mb-3">{{ title }}</h1>
        <div class="text-center">Published on {{ page.date | readableDate }}</div>
        {% if tags %}
        <div class="mt-3 text-center">
            {% for tag in tags %}
            <a href="{{ '/tags/' | url }}{{ tag }}" class="inline-block bg-slate-200 rounded-full px-3 py-1 text-sm font-medium text-slate-700 m-0.5">#{{ tag }}</a>
            {% endfor %}
        </div>
        {% endif %}
        {% if thumb %}
        <div class="mt-10 -mx-7 md:mx-0">
            <img class="w-full max-w-2xl mx-auto" src="{{ thumb | url }}" width="960" height="500" alt="This post thumbnail">
        </div>
        {% endif %}
    </header>
    <div id="content" class="prose text-slate-800 max-w-none">
        {{ content | safe }}
        {% include "partials/footer.njk" %}
    </div>
    {% if site.disqusShortname %}
    <div class="mt-10">
        {% if process.environment === "production" %}
        {% include "partials/disqus.njk" %}
        {% else %}
        <div class="italic text-slate-700">Disqus comments only available for production</div>
        {% endif %}
        "POST.NJK"

    </div>
    {% endif %}

</article>
