---

<div id="content" class="prose text-slate-800 max-w-none">

<h2>Reactions</h2>
<p>To make a comment, please send an e-mail to mantis (at) uppsala (dot) ai. Your e-mail address is not used for other purposes, and will be deleted after the comment is published. If you don’t want your real name to be published, sign the e-mail with the name you want to appear.
</p><p>
För att skriva en kommentär, kicka mig ett epost i mantis (at) uppsala (punkt) ai . Ditt epost address änvandas jag inte, jag ska radera post efter publicerat. 
</p><p>
Si vous souhaitez faire un commentaire envoyez un email à mantis (at) uppsala (dot) ai . Votre adresse ne sera pas utilisée pour d'autre but et l'email sera effacé après parution. Si vous ne souhaitez pas votre vrai nom d'apparaître signez l'email avec le nom que vous voulez afficher.</p>

</div>
